<nav style="font-family: monospace;">
    <div class="site-title">
        <a href="/"><h2 style="margin-bottom: -20px;" >CRYPTEWS</h2></a>
    </div>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/price">Price</a></li>
        <li><a href="/news">Market Cap</a></li>
        <li><a href="/converter">Convertor</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="/API">API</a></li>
    </ul>
</nav>