<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content" style="text-align: center; font-family: monospace;">
      <h2>About cryptwes</h2>
      <p> Cryptews is your go-to website for effortlessly keeping up with the exciting world of cryptocurrencies.<br>
       With its user-friendly interface and powerful features, it's the perfect tool to stay informed and <br>
       make informed decisions in the crypto market.

      There are 3 main functionalities on<br> the website, they are:

      Real-Time Market Prices: Get up-to-the-minute updates on cryptocurrency prices from various exchanges.<br>
      Whether you're tracking Bitcoin, Ethereum, or any other digital asset, Cryptews has you covered.

      Latest News: Stay in the know with the latest crypto news and trends. We gather news articles from trusted <br>
      sources to ensure you're always in the loop.

      Built-In Converter: Easily convert one cryptocurrency to another with our built-in converter. Whether <br>
      you're curious about the value of your favorite coin in Bitcoin, Ethereum, or your local currency, Cryptews <br>
      has you covered.

    Our main goal is to help individuals getting introduced to the crypto world in an easy and fast way. Feel <br>
    free to contribute and make Cryptews even better!
</p> </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>